* {
    box-sizing: border-box;
}

.container {
    padding: 5%;
}

input {
    display: block;
    width: 200px;
    margin: 4% auto;
    border: 2px solid #E3E3E3;
    border-radius: 10px;
    padding: 2% 3%;
    font-size: .9em;
}

.gallery {
    max-width: 1164px;
    margin: 0 auto;
    text-align: center;
}

img {
    padding: 15px;
    
}


@media (min-width : 768px) {
    .container {
        padding: 4%;
    }
    
    input {
        width: 50%;
    }
    
}
